@import "var.css";
@b mint-toast  {
  position: fixed;
  max-width: 80%;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  box-sizing: border-box;
  text-align: center;
  z-index: 1000;
  transition: opacity .3s linear;
    @m icon {
      display: block;
      text-align: center;
      font-size: 56px;
      background-size: cover;
      background-position:center;
      padding-top: 100%;
    }
    @m text {
      font-size: 14px;
      display: block;
      text-align: center;
    }
    @when placetop {
      top: 50px;
      left: 50%;
      transform: translate(-50%, 0);
    }
    
    @when placemiddle {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    
    @when placebottom {
      bottom: 50px;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
  .mint-toast-pop-enter, .mint-toast-pop-leave-active {
    opacity: 0;
  }